/**
 * @name Deer
 * @author Gibbu#1211
 * @version 2.0.0
 * @description Display your picture of choice with adjustable blur and brightness.
 * @source https://github.com/DiscordStyles/FrostedGlass
 * @invite ZHthyCw
 * @donate https://paypal.me/IanRGibson
 * @website https://gibbu.me
 * @authorId 174868361040232448
 * @BDEditor Frosted Glass
*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@100;300;400;500;700&display=swap');
@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');
@import url('https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://nyri4.github.io/Discolored/main.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');

:root {
  --background-image: url('https://i.imgur.com/kYW2H5C.jpg');
  --background-image-blur: 5px;
  --background-image-size: cover;
  --background-image-position: center;
  --popout-image: var(--background-image);
  --popout-image-blur: 30px;
  --popout-image-size: cover;
  --popout-image-position: center;
  --overlay-image: var(--background-image);
  --overlay-image-blur: 30px;
  --overlay-image-size: cover;
  --overlay-image-position: center;
  --home-button-image: url('https://i.imgur.com/h8jN39L.png');
  --home-button-size: contain;
  --home-button-position: center;
  --serverlist-brightness: 0.28;
  --left-brightness: 0.46;
  --middle-brightness: 0.32;
  --right-brightness: 0.36;
  --overlay-brightness: 0;
  --gradient-primary: 82,80,86;
  --gradient-secondary: 232,233,242;
  --link-colour: #2196F3;
  --scrollbar-colour: rgb(48,52,70,0.49);
  --gradient-direction: 92deg;
  --tint-colour: 137,255,0;
  --tint-brightness: 0.16;
  --font: Oswald;
  --window-padding: 0px;
  --window-roundness: 26px;
  --update-notice-1: none;
  --HSL-server-icon-size: 45px;
  --HSL-server-spacing: 10px;
  --rs-small-spacing: 1px;
  --rs-medium-spacing: 0px;
  --rs-large-spacing: 0px;
  --rs-small-width: 1px;
  --rs-medium-width: 2px;
  --rs-large-width: 2px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-phone-visible: block;
}

/* Any custom CSS below here */


  Y57t .plusIcon-1RVszG {
    color: #e2e2e2;
}

.option-ayUoaq {
    border-radius: 6px;
}

.option-ayUoaq:hover {
    background-color: rgba(0, 0, 0, .09);
}

.option-ayUoaq[aria-selected=true] {
    background-color: #4B5569;
    border: 1px solid rgba(0, 0, 0, .4);
}

.option-ayUoaq:hover:after, 
.option-ayUoaq[aria-selected=true]:after,
.option-ayUoaq:after {
    background: none;
}

.option-ayUoaq:hover .answer-14OVbQ, 
.option-ayUoaq:hover .filter-2QaH9y,
.option-ayUoaq:hover .plusIcon-1RVszG, 
.option-ayUoaq[aria-selected=true] .plusIcon-1RVszG {
    color: white;
}

.option-ayUoaq strong,
.option-ayUoaq.user-1dKxvu .displayUsername-UTerwm {
    color: white;
}

.option-ayUoaq.user-1dKxvu .displayedNick-1atSpT {
    color: #D0DFFF;
}

.theme-dark .searchAnswer-23w-CH, 
.theme-dark .searchFilter-2UfsDk {
    background-color: #95A8B0;
}

.theme-dark .focused-2FU0YH {
    background-color: #4B5569;
}

.theme-dark .queryContainer-ZunrLZ {
    color: white;
    border-bottom-color: transparent;
}

.theme-dark .dim-GXxpGm .key-RP8gj3 {
    background-color: rgba(149, 168, 176, .8);
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker {
    background-color: transparent;
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__navigation.react-datepicker__navigation--next,
.theme-dark .calendarPicker-sDhzdi .react-datepicker__navigation.react-datepicker__navigation--previous {
    border-color: transparent;
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__header {
    background-color: transparent;
    border-color: transparent;
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__current-month {
    border-bottom-color: transparent;
    color: white;
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__day-name,
.theme-dark .calendarPicker-sDhzdi .react-datepicker__day {
    color: #D0DFFF;
}

.calendarPicker-sDhzdi .react-datepicker__month * {
    border: 0 !important;
    border-radius: 5px !important;
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__day--disabled,
.theme-dark .calendarPicker-sDhzdi .react-datepicker__day--outside-month,
.theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled,
.theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled:hover {
    background-color: rgba(0, 0, 0, .12) !important;
    color: rgba(255, 255, 255, .24) !important;
}

.calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--keyboard-selected, 
.calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--selected:hover, 
.calendarPicker-sDhzdi .react-datepicker__day:hover {
    color: #e2e2e2;
    background-color: #4B5569;
}

.calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--selected:after {
    background-color: transparent;
}

.calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--selected {
    background-color: #95A8B0 !important;
    color: white !important;
}

.datePicker-3iA7_k .datePickerHint-Ir4715 {
    border-top: none;
}

.datePicker-3iA7_k .datePickerHint-Ir4715 .hint-xfbpCV {
    color: white;
}

.datePicker-3iA7_k .datePickerHint-Ir4715 .hintValue-V9hd8l {
    color: #D0DFFF;
    background-color: rgba(149, 168, 176, .3);
}

.datePicker-3iA7_k .datePickerHint-Ir4715 .hintValue-V9hd8l:hover {
    background-color: #4B5569;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .4);
    border: 1px solid rgba(0, 0, 0, .3);
    color: white;
    transform: translate(0, -2px);
}

.searchHeader-1r_ZSh {
    background-color: transparent;
}

.searchResultsWrap-5RVOkx {
    background-image: linear-gradient(63deg, #4b5569 0%, #2d353f 89%);
}

.channelName-3w2Y3c {
    background: none;
}

.searchResult-O9NDji {
    background-color: rgba(149, 168, 176, .2);
    border: 1px solid #95A8B0;
}

#app-mount .button-cfOvv- {
    background-color: rgba(149, 168, 176, .6);
    border-radius: 7px;
    color: white;
    font-size: 10px;
}

.searchResultChannelCategory-19ujDo, 
.searchResultChannelIcon-C-3P9x {
    color: #D0DFFF;
    opacity: .8;
}

.highlighted-1TaRLI, 
.replying-eZ7p5z {
    background-color: rgba(149, 168, 176, .3);
    border: 1px solid rgba(255, 255, 255, .15);
}

.replying-eZ7p5z:before {
    background-color: transparent;
}

.replyBar-1oi75v, 
.threadSuggestionBar-3ExSyc,
.attachedBars-2BCP3l {
    background: none;
}

#app-mount .sidebar-1tnWFu {
    background: none;
}

.theme-dark .container-1NXEtd {
    background-color: transparent;
}

.header-3OsQeK {
    box-shadow: none;
}



.clickable-vvKY2q .header-3OsQeK:hover, 
.selected-1GtAC5 .header-3OsQeK,
.theme-dark .inviteRow-3vmB7i:hover {
    background-color: rgba(0, 0, 0, .1);
}

.theme-dark .separator-3C440w {
    box-shadow: none;
}

.theme-dark .footer-1hTRRZ {
    background-color: transparent;
}

.theme-dark .inviteBannerUpsell-1t_LYM {
    background-color: rgba(0, 0, 0, .2);
}

.inviteBannerUpsell-1t_LYM a {
    color: #D0DFFF;
}

.theme-dark .checkBoxLabel-16BK2g,
.theme-dark .footerText-2QLGHU,
.theme-dark .subText-1CcYgq {
    color: white;
}

.header-3cSJjT {
    background-color: #1c1c1c;
}

.container-3GP6AV {
    background-image: linear-gradient(63deg, #4b5569 0%, #2d353f 89%);
    background-attachment: fixed;
}

.popout-TdhJ6Z {
    background-color: #1c1c1c;
    box-shadow: none;
}

.title-1yq5kT[style*="color:"] {
    color: white !important;
}

.row-1qtctT {
    border-radius: 7px;
    color: #e2e2e2;
}

.row-1qtctT:hover {
    background-color: #4B5569;
    color: white;
}

.more-2c3Z-T {
    border-top: none;
    color: #D0DFFF;
}

.content-2hZxGK a {
    color: #D0DFFF;
}

.checkboxContainer-yVbwWS {
    background-color: rgba(0, 0, 0, .1);
    border: 2px solid transparent;
}

.checkboxContainer-yVbwWS:hover {
    background-color: rgba(0, 0, 0, .1);
    border-color: #000;
}

.wrapper-1S43wv .container-q97qHp,
.wrapper-1S43wv {
    color: white;
}

.unreadRelevant-2f-VSK {
    background-color: #95A8B0;
}

.panels-3wFtMD {
    border-top: 2px solid rgba(149, 168, 176, .6);
    background-color: rgba(149, 168, 176, .3);
}

.content-1gYQeQ {
    border-radius: 0;
}

.wrapper-NhbLHG:hover .content-1gYQeQ {
    background-color: transparent;
}

.modeMuted-2T4MDZ:hover .name-28HaxV, 
.wrapper-NhbLHG:hover .name-28HaxV,
.wrapper-NhbLHG:hover .icon-2W8DHg,
.modeMuted-2T4MDZ:hover .icon-2W8DHg {
    color: #e2e2e2;
}

.modeSelected-3DmyhH .content-1gYQeQ, 
.modeSelected-3DmyhH:hover .content-1gYQeQ {
    background-color: transparent;
    border-bottom: 2px solid #95A8B0;
}

.modeSelected-3DmyhH .name-28HaxV, 
.modeSelected-3DmyhH:hover .name-28HaxV,
.modeSelected-3DmyhH .icon-2W8DHg, 
.modeSelected-3DmyhH:hover .icon-2W8DHg,
.actionIcon-2sw4Sl {
    color: white;
}

.modeUnread-3Cxepe .name-28HaxV, 
.modeUnread-3Cxepe:hover .name-28HaxV,
.modeUnread-3Cxepe .icon-2W8DHg,
.modeUnread-3Cxepe:hover .icon-2W8DHg {
    color: #D0DFFF;
}

.icon-2W8DHg,
.name-28HaxV {
    color: rgba(208, 223, 255, .4);
}

.wrapper-2fEmwW {
    border-radius: 4px;
    color: white;
}

.users-2JoyGL {
    background-color: #95A8B0;
}

.total-1c5KCN {
    background-color: #4B5569;
}

.total-1c5KCN:after {
    border-right-color: #4B5569;
}

.avatarSpeaking-2pCGrZ,
.avatarSpeaking-36V2PN,
.border-2Vy6FN.speaking-7QZEkv {
    box-shadow: inset 0 0 0 2px #95A8B0,inset 0 0 0 3px black;
}

.root-1CAIjD,
.scrollTierBackground-BnWR8k,
.modalHeader-3X0A4K {
    background-color: transparent;
}

.modalDivider-MtZbPb {
    background: none;
}

.unread-2wipsx {
    background-color: black;
    border-radius: 4px;
}

.button-12Fmur {
    color: #e2e2e2;
}

.button-12Fmur.enabled-9OeuTA:hover {
    color: white;
    background-color: #4B5569;
}

.withTagAsButton-OsgQ9L:hover, 
.withTagless-10ooWt:hover {
    background-color: rgba(0, 0, 0, .3);
    color: white;
}

#app-mount .colorable-3rVGna.primaryDark-2UJt1G {
    background: #95A8B0;
}

.theme-dark .tooltipBrand-20XsMA {
    background-color: #95A8B0;
}

.theme-dark .tooltipBrand-20XsMA .tooltipPointer-sMBQqe {
    border-top-color: #95A8B0;
}

.container-3XgAHv {
    background: linear-gradient(63deg, #4b5569 0%, #2d353f 89%);
}

.chat-1-OBC7:before {
    box-shadow: none;
}

.uploadDropModal-13Kd20 .bgScale-1iWuPF {
    border-radius: 5px;
    background: #95A8B0;
}

.uploadDropModal-13Kd20 .inner-rBP-MS {
    border: 2px dashed white;
}

.wrapper-1gVUIN,
.sectionDivider-189lqb {
    background-color: transparent;
}

.typingIndicator-KF8hGa {
    background-color: #95A8B0;
}

.dots-1BwzZQ.themed-3T-OPr {
    color: white;
}

.loadingCard-3pIp9h {
    background-color: rgba(0, 0, 0, .24);
}

.dots-2_b2Mn {
    background-color: #95A8B0;
    border: 3px solid transparent;
}

.theme-dark .background-fkKrXt {
    background-color: transparent;
}

.interactiveCard-2iMtdk {
    border: 1px solid transparent;
}

.card-3x20HF {
    border-radius: 4px;
    background-color: rgba(149, 168, 176, .3);
}

.feedItemHeader-txJq98 {
    border-bottom: none;
}

.interactiveCard-2iMtdk.selected-sszUNx, 
.interactiveCard-2iMtdk:active, 
.interactiveCard-2iMtdk:hover {
    border: 1px solid transparent;
}

.interactiveCard-2iMtdk:hover {
    box-shadow: 0 0 2px 3px rgba(149, 168, 176, .6);
}

.pageButton-uta6J3:hover {
    color: #e2e2e2;
    background-color: #4B5569;
}

.theme-dark .activeButton-2K2Fwx,
.theme-dark .activeButton-2K2Fwx:hover {
    background-color: #95A8B0;
}

.icon-2IDTxf {
    border-top: 4px solid transparent;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    background-color: transparent;
}

.container-xwOzwi,
.container-2Hi7Km {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .10);
}

.moreUsers-_v6T-L {
    background-color: #4B5569;
    color: white;
}

.container-3HMTms {
    border-radius: 4px;
}

.container-3HMTms:hover {
    background-color: rgba(149, 168, 176, .2);
}

.iconContainer-2R-3M1 {
    border-radius: 8px;
    background-color: #95A8B0;
    color: white;
}

.theme-dark .activityIcon-vfIBet {
    color: white;
}

.chat-3t9F_n:before {
    box-shadow: none;
}

.theme-dark .container-3wLKDe {
    background-color: transparent;
}

.uploadArea-2Nu_Vc {
    background: rgba(0, 0, 0, .3);
}

.mainCard-3KBsBI,
.increasedActivityMainCard-2ry6hI {
    background-color: rgba(0, 0, 0, .12);
    border-radius: 5px;
}

.container-3arpDl {
    background-color: rgba(0, 0, 0, .2);
    border: none;
}

.descriptionContainer-2ylKGk {
    background-color: transparent;
}

.container-3arpDl .guidelines-jQLwyH a {
    color: #D0DFFF;
}

.mainCard-3KBsBI .input-3O04eu {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.pill-3pRQlO,
.tag-19iIl1, 
.tagsButton-4pwOKH {
    border-radius: 10px;
    background-color: rgba(149, 168, 176, .3);
    border: 1px solid transparent;
}

.pill-3pRQlO.clickable-3YTfAq:not(.disabled-3Rezaw):hover,
.tag-19iIl1:hover, 
.tagsButton-4pwOKH:hover {
    background-color: rgba(149, 168, 176, .4);
}

.pill-3pRQlO.selected-24z1Ou {
    background-color: rgba(149, 168, 176, .3) !important;
    border-color: #95A8B0 !important;
}

.countContainer-3uQ087 {
    background-color: #95A8B0;
    border-radius: 4px;
}

.container-3kfp0r {
    background-color: #1c1c1c;
    box-shadow: none;
    border-radius: 4px;
}

.clear-2gkgln {
    color: #D0DFFF;
}

.divider-2bkesd {
    background-color: transparent;
}

.newPostsButton-UaBhcU {
    background-color: #1c1c1c;
    border: none;
    box-shadow: none;
}

.newPostsButton-UaBhcU>[style*="color:"] {
    color: #D0DFFF !important;
}

.sortDropdown-hY93nR {
    border-radius: 4px;
    background-color: #1c1c1c;
}

.sortButtonInner-kKNTP9 {
    color: white;
}

.container-2d0jMv {
    padding: 8px;
    background-color: var(--background-primary);
    -webkit-box-shadow: var(--elevation-medium);
    box-shadow: var(--elevation-medium);
    border-radius: 8px;
    width: 180px;
}

.clear-wwSgAl {
    color: #D0DFFF;
}

.selectedIcon-rQFEab {
    color: #95A8B0;
}

.optionText-_ulaHG[style*="color:"] {
    color: white !important;
}

.optionRow-1wYi0s:hover {
    background-color: rgba(0, 0, 0, .12);
}

.pinIcon-3I5-gm {
    background-color: #95A8B0;
}

.emptyStateContainer-xWOMPJ {
    background-color: transparent;
}

.newMessageCount-jqlY9z[style*="color:"],
.clear-3MzXUl[style*="color:"] {
    color: #D0DFFF !important;
}

.container-2qVG6q:hover {
    background-color: rgba(149, 168, 176, .2);
    box-shadow: 2px 2px 5px 2px rgba(149, 168, 176, .1);
    transform: translateY(-2px);
}

.theme-dark .container-2qVG6q.isOpen-2OXbFs {
    background-color: rgba(149, 168, 176, .3);
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .4);
}

.countContainer-3DOo5v {
    background-color: #95A8B0;
    border-radius: 4px;
}

.pencilIcon-1d4fcw, 
.searchIcon-2Nw0OL {
    color: white;
}

.matchingPostsRow-2IiEQ1 {
    background-color: rgba(0, 0, 0, .1);
}

.header-1sd0RU {
    background-color: transparent;
}

.card-8UsK4b {
    background-color: rgba(0, 0, 0, .2) !important;
    border: none;
}

.rsvpCount-iCkObl {
    background-color: #95A8B0;
    border-radius: 4px;
}

.rsvpIcon-1R5Esx {
    color: white;
}

.divider-2zyEHJ,
.scroller-38C5lh {
    background-color: transparent;
}

.showMore-22xKD3 {
    color: #D0DFFF;
}

.content-23DqaR:before {
    box-shadow: none;
}

.tierInfoContainer-3o77tj {
    background-color: #1c1c1c;
}

.subscriptionPerks-17BiNa {
    background-color: rgba(0, 0, 0, .4);
}

.roleMessagePreview-NUi2Ri {
    background-color: transparent;
    border: 1px solid black;
}

.benefitsSection-2VIuyT:not(:last-child) {
    border-bottom: 1px solid #95A8B0;
}

.listDefault-2F-w65 .clickable-1ctZ-H:hover .content-1Tgc42 {
    background-color: rgba(0, 0, 0, .09);
}

.listDefault-2F-w65 .clickable-1ctZ-H.selected-1oxcpH .content-1Tgc42 {
    background-color: rgba(0, 0, 0, .15);
}

.container-x059i8 {
    color: #e2e2e2;
}

.circleIconButton-1VxDrg,
.childWrapper-1j_1ub {
    color: #e2e2e2;
    background-color: rgba(149, 168, 176, .8);
    border-radius: 50%;
}

.circleIconButton-1VxDrg.selected-2r1Hvo,
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, 
.wrapper-3kah-n:hover .childWrapper-1j_1ub {
    color: white;
    background-color: #4B5569;
}

.categoryItem-Kc_HK_.selectedCategoryItem-ZjqSui .itemInner-3e_4G4 {
    background-color: #4B5569;
}

.theme-dark .searchBox-pyIJJj .input-3O04eu {
    box-shadow: none;
}

.theme-dark .pageWrapper-2PwDoS {
    background-color: transparent;
}

.search-25t1e9 .searchBox-31Zv9h .searchIcon-3X4BYL,
.search-25t1e9 .searchBox-31Zv9h .searchBoxInput-3h4etz {
    color: white;
}

.categoryPill-1zjNrr.selected-bLcqYK {
    background-color: #4B5569;
}

#app-mount .card-2TuZPZ, 
#app-mount .iconMask-2fMR98 {
    background-color: rgba(0, 0, 0, .5);
}

.theme-dark .scroller-3X7KbA,
.wrapper-1_HaEi {
    background-color: transparent;
}

.item-2LIpTv {
    background-color: #95A8B0;
}

.folderIconWrapper-1oRIZr,
.expandedFolderBackground-1kSAf6,
.folder-241Joy {
    border-radius: 50px;
}

#app-mount .folder-241Joy,
.expandedFolderBackground-1kSAf6 {
    background-color: rgba(0, 0, 0, .6);
}

.iconBadge-32fMme {
    background-color: #95A8B0;
}

.guildSeparator-a4uisj {
    background-color: transparent;
}

.text-md-normal-2rFCH3[style*="color:"],
.optionHeader-27AHfD[style*="color:"] {
    color: white !important;
}

.container-x8Y1ix {
    border-radius: 3px;
    border: 1px solid rgba(149, 168, 176, .3);
    background-color: rgba(149, 168, 176, .2);
}

.container-x8Y1ix:hover {
    background-color: rgba(149, 168, 176, .5);
    border: 1px solid rgba(149, 168, 176, .7);
}

.uploadIcon-2wV7s_ {
    color: #95A8B0;
}

.input-m1-Y7Q {
    background-color: transparent;
}

.sampleLink-5BWNy9 {
    color: white;
}

#app-mount .rowContainer-3t7486 {
    background-color: green;
}

/* ***** Last One ***** */
.container-2cd8Mz {
    background-color: transparent;
}

.tabBody-2dgbAs:before {
    box-shadow: none;
}

.tabBar-ra-EuL .addFriend-emTWY1.addFriend-emTWY1.addFriend-emTWY1, 
.tabBar-ra-EuL .addFriend-emTWY1.addFriend-emTWY1.addFriend-emTWY1:hover {
    background-color: green !important;
    color: white !important;
    font-size: 16px !important;
    border: none !important;
}

#app-mount .tag-15zcD_ {
    background-color: rgba(149, 168, 176, .5);
    color: white;
    border-radius: 8px;
}


.friend-8ZraY7 {
    border-radius: 5px;
    color: #e2e2e2;
}


.theme-dark .friendSelected-3cwmD7 {
    background-color: rgba(149, 168, 176, .3);
    color: white;
}

.friend-8ZraY7 .discordTag-2ke74W {
    opacity: .9;
}

.scroller-hE2gWq {
    border-left: none;
}

.container-1oAagU {
    background-color: transparent;
}

.nowPlayingColumn-1eCBCN {
    background: none;
}

.itemCard-3Etziu {
    border-radius: 4px;
}

.body-16rSsp {
    border-radius: 4px;
}

.wrapper-2RrXDg {
    background-color: rgba(149, 168, 176, .1);
    border: 1px solid transparent;
    box-shadow: 0 0 0 0 transparent;
    transition: box-shadow .7s;
}

.theme-dark .outer-2JOHae.active-1W_Gl9, 
.theme-dark .outer-2JOHae.interactive-2zD88a:hover {
    background-color: rgba(149, 168, 176, .15);
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, .5);
}

.theme-dark .inset-SbsSFp {
    background-color: rgba(0, 0, 0, .1);
}

.section-3G9aLW {
    background-color: transparent;
}

.header-Imy05m {
    font-size: xx-large;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 2px;
    text-align: center;
    font-weight: 400;
}

.header-30YxSJ {
    border-bottom: none;
}

.addFriendInputWrapper-kkoSV9 {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .1);
    border: 2px solid rgba(0, 0, 0, .06);
    border-radius: 4px;
}

.addFriendInputWrapper-kkoSV9:focus-within {
    border: 2px solid rgba(0, 0, 0, .2);
}

.addFriendInputWrapper-kkoSV9 .input-3O04eu {
    box-shadow: none;
    background-color: transparent;
}

#app-mount .container-3tKtM_,
.theme-dark .message-G6O-Wv,
#app-mount .banReasonOtherClickable-8EKPlQ {
    border-radius: 4px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, .2);
}

.banReasonOtherClickable-8EKPlQ {
    color: white;
}

.theme-dark .message-G6O-Wv {
    box-shadow: none;
}

.headerBar-1dSpQr:before {
    box-shadow: none;
}

.applicationStore-2nk7Lo,
.scroller-29cQFV {
    background-color: transparent;
}

.privateChannels-oVe7HL,
.theme-dark .scroller-WSmht3 {
    background-color: transparent;
}

.searchBar-3TnChZ {
    box-shadow: none;
}

.layout-1LjVue,
.container-32HW5s {
    border-radius: 4px;
}

.privateChannelsHeaderContainer-1UWASm.container-q97qHp {
    color: #D0DFFF;
}

.interactive-iyXY_x,
.interactive-26HRN_ {
    color: rgba(208, 223, 255, .3);
}

.interactive-26HRN_:focus-within, 
.interactive-26HRN_:hover {
    color: #e2e2e2;
    background-color: rgba(149, 168, 176, .2);
}

.selected-26oxtA {
    background-color: #4B5569 !important;
}

.interactiveSelected-29CP8y {
    color: white !important;
}

.title-x4dI75.container-q97qHp {
    font-size: 14px;
    color: #D0DFFF;
}

.peopleListItem-u6dGxF {
    border-top: none;
}

.actionButton-3-B2x-.actionDeny-1pQVuZ:hover {
    background-color: rgba(255,0,0,.2);
    color: red;
}

.peopleListItem-u6dGxF.active-2UF8Zh, 
.peopleListItem-u6dGxF:hover {
    background: rgba(149, 168, 176, .12);
    border-radius: 4px;
}

.actionButton-3-B2x- {
    border-radius: 10px;
    color: #D0DFFF;
    background-color: rgba(149, 168, 176, .4);
}

.actionButton-3-B2x-:hover {
    color: #e2e2e2;
}

.actionButton-3-B2x-.highlight-3DSi7b {
    background-color: #4B5569;
}

.searchBar-3TnChZ .searchBarComponent-3N7dCG {
    border-radius: 6px;
    background-color: rgba(149, 168, 176, .3);
    color: white;
}

.quickswitcher-pKcM9U {
    border-radius: 4px;
    box-shadow: none;
    background-image: linear-gradient(63deg, #4b5569 0%, #2d353f 89%);
    color: white;
}

.input-3r5zZY {
    font-size: 20px;
    border-radius: 8px;
    color: #D0DFFF;
    background-color: rgba(0, 0, 0, .2);
}

.scroller-2qwVWY {
    background-color: transparent;
}

.scroller-2qwVWY::-webkit-scrollbar-track {
    background-color: transparent!important;
}

.contentDefault-17ewQQ,
.icon-12xJtb {
    color: #e2e2e2;
}

.contentUnread-1_MVDK {
    color: #D0DFFF;
}

.note-OhIxFa {
    color: rgba(255, 255, 255, .54);
}

.misc-XwBATi {
    color: #D0DFFF;
}

.miscContainer-33U-X-,
.tip-Jl__cG,
.emptyStateCTA-206J-N {
    opacity: 1;
}

.result-u66Ywh[aria-selected=true] {
    background: rgba(149, 168, 176, .4);
}

.autocompleteQuerySymbol-1iAOG7 {
    background-color: #4B5569;
    padding: 3px 5px;
    border: 1px solid rgba(0, 0, 0, .3);
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .2);
}

.emptyStateNote-3W5lug {
    color: #e2e2e2;
}

.emptyStateCTA-206J-N a {
    color: #D0DFFF;
}

.protip-1jXzAl.hasContent-50Z3pe {
    border-top: none;
}

.akaBadge-3i7V3p {
    background-color: #95A8B0;
}

.wrapper-1gVUIN.minimum-fXpVNc {
    background-color: rgba(0, 0, 0, .15);
}

.border-2BJQjd.speaking-3RWJBr {
    box-shadow: inset 0 0 0 2px #95A8B0,inset 0 0 0 3px black;
}

.theme-dark .quickSelectPopout-2F0PXw {
    background-image: linear-gradient(63deg, #4b5569 0%, #2d353f 89%);
    color: white;
}

.theme-dark .quickSelectPopoutOption-2E2UmS:hover {
    background-color: rgba(0, 0, 0, .1);
}

.quickSelectPopoutOption-2E2UmS:focus {
    background-color: #4B5569;
    color: white;
}

.theme-dark .regionSelectName-1Tj9C9 {
    color: white;
}

.status-1ZXjSF {
    background-color: #95A8B0;
}

.iconWrapper-3FqQ75 {
    border-radius: 3px;
    background-color: #95A8B0;
}

.mulitplePlaceholderUsername-2T3DCI,
.placeholderAvatar-1qAcRZ,
.placeholderUsername-3iQi_D,
.memberGroupsPlaceholder-9tqX9V {
  background-color: #95A8B0;
  border-radius: 2px;
}

.table-17_dGF {
    background-color: rgba(0,0,0,.6);
    border-radius: 4px;
}

.checkboxLabel-3VTAjH {
    color: white;
}

.checkboxLabel-3VTAjH a {
    color: #F8F0C4;
}

.container-3EBHNg {
    border-bottom: none;
}

.contentContainer-BWAau5 {
    background-color: transparent;
}

.circle-1g-jMn, 
.listRowCircle-Yp4XyP {
  background-color: #95A8B0;
  border-radius: 30px;
}

.groupContainer-x_RNHs,
.backgroundModifierContainer-WjXgb2:hover:not(.disabled-3Q7kTN) {
  background-color: rgba(0, 0, 0, .4);
}

.category-3LanTP {
    background-color: rgba(0,0,0,.4);
    border-radius: 6px;
}

.category-3LanTP:hover {
    background-color: rgba(0,0,0,.6);
}

.headerContent-1ruWaB, 
.headerSidebar-q66Sut,
.separator-3iCpOF {
    border-bottom: none;
}

.divider-2-bAb9 {
    border-top: none;
}

.card-sX105p,
.list-1bztb- {
    background-color: rgba(0,0,0,.4);
    border-radius: 4px;
}

.commandName-SDgdgz {
    background-color: rgba(0,0,0,.7);
    border: none;
}

.headerIcon-4CEo5y {
    border: 7px solid transparent;
    background-color: transparent;
}

#app-mount .childButton-3o_dlg {
    background-color: rgba(0,0,0,.4);
}

.theme-dark .optionPillKey-2JyeoP {
    background-color: rgba(0,0,0,.3);
}

.theme-dark .optionPill-2kmuZR {
    background-color: rgba(0,0,0,.1);
    border-color: transparent;
}

.theme-dark .tierHeaderLocked-30MLlO, 
.theme-dark .tierHeaderUnlocked-1OpOLf {
    background-color: rgba(0,0,0,.6);
}

.theme-dark .tierBody-1d3UiS {
    background-color: rgba(0,0,0,.3);
    color: white;
}

.theme-dark .copyInputDefault-3jiMHw {
    border-color: transparent;
}

.copyInput-3AbKWB {
    background-color: rgba(0,0,0,.6);
}

.guildFeatureAvailabilityIndicator-1-B8Jv {
    background-color: rgba(0,0,0,.7);
}

.featureIcon-3rvFkz {
    color:  white;
}

.item-14XeNr,
.item-4m-12I,
.item-4m-12I:hover {
    background-color: #2D2D2D;
}

.layoutStyle-3d1mjU .item-4m-12I[aria-label="Passthrough"] {
    color: #FFDB4D;
}

.passthrough--fbdFR.selected-3jieYB {
    background-color: #FFDB4D !important;
    color: black !important;
}

.deny-2VqAyZ,
.cross-vHLzBr,
.deny-1GO6vI {
    color: #F42626;
}

.deny-2VqAyZ.selected-I4nkOo,
.deny-1GO6vI.selected-3jieYB {
    background-color: #F42626 !important; 
    color: white;
}

.allow-q9kwjz,
.check-3Fp8pO,
.allow-1h61-Z {
    color: #3DD828;
}

.allow-q9kwjz.selected-I4nkOo,
.allow-1h61-Z.selected-3jieYB {
    background-color: #3DD828 !important;
    color: white;
}

.syncIcon-3lhuwS path {
    fill: #5AF426;
}

.perkDescription--074QX a {
    color: #FFFF90;
}

.divider-2UxUgG {
    background: transparent;
}

.theme-dark .inviteSettingsInviteRow-FAjfDN {
    box-shadow: none;
}

.theme-dark .elevationBorderLow-3_3rXL {
    box-shadow: none;
}

.theme-dark .popoutList-2oR8Im {
    background: #141414;
}

.theme-dark .selectableItem-3-fmiM {
    color: white;
}

.theme-dark .selectableItem-3-fmiM:focus, 
.theme-dark .selectableItem-3-fmiM:hover {
    background-color: rgba(0,0,0,.6);
}


.divider-2JN8Vy {
    background-color: transparent;
}

.guildSubscriptionSlots-1i_C21 {
    background-color: #141414;
}


.guildSubscriptionSlot-1mef6n {
    border-bottom: none;
}

.guildSubscriptionDuration-1JI19A, 
.guildSubscriptionSlotMenuIcon-3UcQXW {
    color: white;
}

.cardWrapper-1bSePP {
    background: #141414;
}

.theme-dark .gemIndicatorContainer-PqApbX {
    background-color: transparent;
}

.circleBackgroundAlt-32_kWx {
    fill: transparent;
}

.breadcrumbWrapper-3rpYiO {
    color: white;
}

.theme-dark .option-Tt7anD {
    background-color: rgba(0,0,0,.3);
}

.memberRow-1FhJgR:hover,
.item-2rTrrd:hover {
    background-color: rgba(255,255,255,.2);
}

#app-mount .optionContainer-yOpaLq {
    background: rgba(0,0,0,.15);
    border-radius: 4px;
}

.theme-dark .card-3JmxsM {
    border-color: transparent;
}

.theme-dark .headerClickable-zGQJz3, 
.theme-dark .headerDefault-1e6yjj {
    background-color: rgba(0,0,0,.5);
    color: white;
}

.theme-dark .auditLog-1NVAY0 {
    border-color: transparent;
    color: white;
}

.body-1JxAWB a,
.text-2iTkaw a {
    color: #FFFF90;
}

.featureIcon-2sTnDK {
    background-color: rgba(255,255,255,.12);
    border-radius: 7px;
}

.stickyHeaderElevated-dNSSrJ {
    box-shadow: none;
}

.topic-11NuQZ {
    color: white;
}

.topic-11NuQZ a {
    color: #FFFF90;
}

.theme-dark .elevationLow-26BbEG {
    box-shadow: none;
}

.phoneField-3NAPDv {
    background-color: rgba(0,0,0,.4);
    border: none;
}

.phoneField-3NAPDv .inputField-1iYysB {
     background-color: transparent;
     color: white;
}

.divider-1wnNcY {
    background-color: transparent;
}

.guildsSection-30CJxX {
    border-top: none;
}

.featureBorder-2G0c_P {
    border-top: none;
}

.wrapper-2SplAX {
    background-color: rgba(0,0,0,.5);
}

.messagePreviewContainer-1oR1Oc {
    border: 1px solid black;
}

.box-2iMsQm {
    background-color: #181818;
}

.box-2iMsQm:after {
    border-top: 10px solid #181818;
}

.maskBackground-F7QD-A {
    background-color: rgba(255,255,255,.12);
}

.containerBackground-Ang24O {
    background-color: rgba(0,0,0,.6);
    border: none;
    box-shadow: none;
}

.textDivider-34kVsR {
    background-color: transparent;
}

.tile-2TcwiO {
    background-color: transparent;
}

.activityItem-1Z9CTr {
    background: rgba(0,0,0,.6) !important;
    box-shadow: none;
}

.activityTag-3C3YK5 {
    background-color: #141414;
    color: white !important;
}

.sourceThumbnail-ERDcZE {
    background-color: transparent;
}

.tile-3POX2m:hover .sourceThumbnail-ERDcZE {
    box-shadow: inset 0 0 0 2px #95A8B0;
}

.container-1zzFcN {
    border-bottom: none;
    background: none;
}

.text-md-semibold-3xVVGu[style*="color:"] {
    color: white !important;
}

.emojiPickerHeader-2mWh2T {
    background: #141414;
}


.noiseCancellationPopout-2-e5Xz {
    background: #141414;
    box-shadow: none;
}

.noiseCancellationPopout-2-e5Xz a {
    color: #63F3FD;
}

#app-mount .participantsButton-1WBdFP {
    background: #141414;
    box-shadow: none;
}

.overlayTitle-2efoIF {
    border-radius: 4px;
    background: rgba(0,0,0,.6);
    color: white;
}

.status-15kcmy,
.unreadCount-eHeIkt {
    color: white;
    background-color: #95A8B0;
}

.theme-dark .previewContainer-35LFgt,
.theme-dark .streamPreview-I7itZ6,
.container-8Futzw {
    background-color: #141414;
}

.container-8Futzw {
    box-shadow: none;
}

.channelIcon-3Oew8h,
.activityVoiceChannel-2vojOH .headerText-3g1XK9 {
    color: white;
}

.headerDivider-N-jIGV {
    background-color: transparent;
}

.scroller-3b1p7z {
    background-color: transparent;
}

.theme-dark .memberListItem-3V-x8Q:not(.popoutDisabled-PP2QdB):hover {
    background-color: rgba(255,255,255,.13);
}

.textBlock-3rqvcj a {
    color: #FFF88D;
}

.top-Ktfr_T .themed-qqoYp3.item-2GWPIy:hover {
    border-bottom-color: silver;
}

.subscription-1wJwQk {
    background-color: rgba(0,0,0,.4);
}

.theme-dark .tierPill-l7DvKo {
    background-color: transparent;
    color: white;
}

.helpText-298QJZ a {
    color: #84DEA8;
}

.groupCollapsedContainer-1h2Wkb {
    background-color: transparent;
    border: none;
}

.groupCollapsedRow-2CgoFk {
    background-color: rgba(0, 0, 0, .2);
    background-color: rgba(0, 0, 0, .2);
}

.backgroundModifierContainer-WjXgb2.selected-2f8_FP {
    background-color: rgba(0,0,0,.6);
}

.selected-58N8gq {
    background-color: rgba(255, 255, 255, .3) !important;  
    color: white !important;
}

.theme-dark .container-2McqkF .calendarPicker-sDhzdi .react-datepicker {
    background-color: #140E14;

}

.theme-dark .activityProfile-1712BN .activityName-3YXl6e,
.theme-dark .activityProfile-1712BN .content-tXPNDw,
.theme-dark .activityProfile-1712BN .details-2-ciHo,
.theme-dark .activityProfile-1712BN .name-1-Q7l2,
.theme-dark .activityProfile-1712BN .nameNormal-2fPMD2,
.theme-dark .activityProfile-1712BN .nameWrap-3TyM52,
.theme-dark .activityProfileV2-1N7pee .activityName-3YXl6e,
.theme-dark .activityProfileV2-1N7pee .content-tXPNDw,
.theme-dark .activityProfileV2-1N7pee .details-2-ciHo,
.theme-dark .activityProfileV2-1N7pee .name-1-Q7l2,
.theme-dark .activityProfileV2-1N7pee .nameNormal-2fPMD2,
.theme-dark .activityProfileV2-1N7pee .nameWrap-3TyM52,
.theme-dark .activityUserPopout-2MzGCj .activityName-3YXl6e,
.theme-dark .activityUserPopout-2MzGCj .content-tXPNDw,
.theme-dark .activityUserPopout-2MzGCj .details-2-ciHo,
.theme-dark .activityUserPopout-2MzGCj .name-1-Q7l2,
.theme-dark .activityUserPopout-2MzGCj .nameNormal-2fPMD2,
.theme-dark .activityUserPopout-2MzGCj .nameWrap-3TyM52,
.theme-dark .activityUserPopoutV2-3eKqzY .activityName-3YXl6e,
.theme-dark .activityUserPopoutV2-3eKqzY .content-tXPNDw,
.theme-dark .activityUserPopoutV2-3eKqzY .details-2-ciHo,
.theme-dark .activityUserPopoutV2-3eKqzY .name-1-Q7l2,
.theme-dark .activityUserPopoutV2-3eKqzY .nameNormal-2fPMD2,
.theme-dark .activityUserPopoutV2-3eKqzY .nameWrap-3TyM52 {
    color: white;
}

.popout-15UxD6.popoutPositionTop-3Uhefd.popout-15UxD6 {
   border-radius: 5px 5px 0 0;
   border: 2px solid rgba(255,255,255,.2);
}

.colorSecondary-3_y5BS {
    color: white;
}

.planOption-187LtR,
.planOptionInterval-3QyrC0 {
    color: rgba(255, 255, 255, .4);
}

.round-1RSG-3 {
    border-radius: 4px;
}

.optionSelected-2AMHHJ {
    color: white;
}

.premiumIcon-3qxLdX {
    color: #FF2EB9;
}

.availabilityIndicator-3-1ZYA {
    background-color: #FF2EB9;
}

.theme-dark .tierAccomplished-1I5NaT,
.theme-dark .tierCurrent-2nowYi,
.theme-dark .tierFirst-1Vn3wS {
    background: #FF2EB9;
}

.foreground-3_3Pgi {
    color: #FF2EB9;
}

.theme-dark .tierInProgress-1vFUnw {
    background-color: rgba(0, 0, 0, .4);
}

.descriptionRow-1UPN0d {
    color: white;
}

.theme-dark .card-3MjVNo {
    border-color: black;
}

.icon-1PAq_f {
    color: white;
}

.clickable-WBCFI5:hover {
    background-color: rgba(0, 0, 0, .1);
}

.listing-2-3kHA:not(:last-child):not(:hover) .listingDetails-1tUwVY {
    border-bottom: none;
}

.showMoreButtonIcon-3D4iRn {
    color: white;
}

.selectedBrand-1AtwYE {
    background: rgba(0, 0, 0, .6) !important;
    color: white !important;
}

.theme-dark .discrim-OWXlDD {
    opacity: .6;
}

.separator-178dlw {
    background-color: transparent;
}

.text-md-normal-2rFCH3 a,
.text-sm-normal-AEQz4v a {
    color: #C5E384;
}

.card-ErWTld,
.howItWorksContainer-3ZDRIG,
.avatarCard-1N47yx {
    background-color: rgba(0, 0, 0, .45);
}

.earningsPreviewContainer-2I6S8Z[style*="background-color:"] {
    background-color: rgba(0, 0, 0, .45) !important;
}

.howItWorksImageContainer-3U9Rdq {
    background-color: transparent;
}

.textInput-3g8y92 {
    background-color: rgba(0, 0, 0, .4);
}

.upsellContainer-2a5eMP,
.upsellFooter-3M1V33,
.developerPortalCtaWrapper-2PniQs {
    background-color: rgba(0, 0, 0, .4);
}

.checklistHeader-3liG7E,
.header-Wl8ec- {
    background-color: transparent;
}

.checklistContainer-12xGp5,
.container-13pE3E,
.optionContainer-32r7Dj,
.welcomeChannel-_Q4qAA,
.enableContainer-H2cRts,
.previewContainer-29oeA6 {
    background-color: rgba(0, 0, 0, .4);
}

.container-ZSFRqx {
    background-color: transparent;
    border: none;
}

.exampleContainer-hz7EUM,
.exampleModal-2fUA5X,
.exampleContainer-3KBk_U,
.exampleModal-3D7ypH,
.formFieldWrapper-3IiCRS,
.footer-1voAYT,
.separator-RaufQu,
.containerFooter-3BSQ3U {
    background-color: transparent;
}

.content-lgVC-G,
.guildSidebar-25nAoF {
    background-color: rgba(0, 0, 0, .3);
}

.sidebarFixedContainer-2fX672 {
    border: 2px solid black;
}

.backgroundContainer-gUNEZU,
.exampleRule-KGGZmT,
.fieldFooterContainer-2QTUnl,
.mentionLimitContainer-zBzr5i,
.actionContainer-2krsiT {
    background-color: rgba(0, 0, 0, .3);
}

.theme-dark .automodText-azqvwf {
    color: white;
}

.editCard-K9Q9mb,
.ruleIconContainer-dXW56-,
.stepCountIcon-1A2Rxd,
.channelRowLabel-2yYGtY,
.collapseable-1FiLab.toggled-SfZPpc:active,
.collapseable-1FiLab:active {
    background-color: rgba(255, 255, 255, .1);
}

.actionContainer-EzNGrb {
    background-color: transparent;
}

.actionTextHeader-yeCKjC[style*="color:"] {
    color: white !important;
}

.ruleIcon-jIriNN,
.mentionLimitIcon-11ZBxD,
.actionIcon-xZ8Xaf {
    color: white;
}

.editCard-K9Q9mb.active-Xi2rnV,
.editCard-K9Q9mb.toggled-35JcVc.active-Xi2rnV {
    background-color: rgba(0, 0, 0, .1);
}

.triggerMainContainer-274ue5 {
    border: 1px solid black;
}

.editChannel-3Y8hih {
    color: #C5E384;
}

.keywordListContainer-9ux8nU,
.collapseable-1FiLab {
    background-color: rgba(0, 0, 0, .3);
}

.resultsList-2Bp-2_ {
    background-color: #21252B;
    border: none;
    box-shadow: none;
}

.keywordTextArea-c8D0xP {
    background-color: transparent;
    border: none;
    color: white;
}

.container-3zZkKh {
    background-color: transparent;
}

.reaction-BL6n45 {
    background-color: rgba(0, 0, 0, .3);
}

.theme-dark .staticToolbar-x12NJC,
.forumGuidelines-1U9ThN {
    background-color: rgba(0, 0, 0, .2);
}

.staticDivider-1gts3a {
    border-left: none;
}

.staticIcon-2gnnAR {
    color: #c6c6c6;
}

.active-136ioF .staticIcon-2gnnAR,
.hover-3OQb9Y:hover .staticIcon-2gnnAR {
    color: white;
}

.uploadInput-3fblkw {
    background-color: rgba(255, 255, 255, .12);
}

.theme-dark .uploadIcon-M15owY,
.uploadInput-3fblkw:hover .uploadIcon-M15owY {
    color: white;
}

.sortDropdownInner-1kHAUi {
    color: white;
}

.container-2_J666 {
    color: white;
    background-color: rgba(0, 0, 0, .3);
}

.sortDropdownText-3smleu[style*="color:"] {
    color: white !important;
}

.tagsDivider-3LhkLA {
    background-color: transparent;
}

#app-mount .stepContainer-SaPPyG {
    background: transparent;
    color: white;
}

#app-mount .addTags-26suzl {
    background-color: rgba(255, 255, 255, .14);
}

.label-2gNW3x>[style*="color:"] {
    color: white !important;
    font-weight: bold;
}

.separator-3PdcLL {
    background-color: transparent;
}

.badge-39TqBS {
    border: 2px solid transparent;
    color: white;
    background-color: rgba(255, 255, 255, .13);
}

.memberListItem-ui7SEK:not(.popoutDisabled-F42SI4):hover {
    background-color: rgba(0, 0, 0, .3);
}


     
     
 

.theme-dark .content-3nJg0c:before {
    background-color: transparent;
}

.iconWrapper-1sOtkE {
    background-color: #433E97;
}

.icon-3TvnqF {
    color: white;
}

.guildSidebar-UHnQqs,
.modal-2TOYtq,
.theme-dark .footer-11k_3m {
    background-color: transparent;
}

.closeIcon-3xe5xL,
.mediaIcon-3-Zrn7 {
    color: white;
}

.divider-2keupe {
    background: none;
}

.newPostCount-3SXe5K {
    background-color: #0e8672;
    color: white;
}

.divider-2_8P_2 {
    color: transparent;
}

.viewMoreReplies-34u7lq,
.roleTip-2o2f1b a {
    color: #ffcc99;
}

.circle-2tR2Qh {
    background-color: #0e8672;
}

.icon-1DBCvl {
    color: white;
}

.userPanelInnerThemed-2xZFjl {
    background: rgba(0, 0, 0, .3);
}

.metadataContainer-35U-On {
    background-color: transparent;
}

.theme-dark .reactorDefault-3GSyaV {
    box-shadow: none;
}

.theme-dark .reactionDefault-1Sjj1f:hover {
    background-color: rgba(255, 255, 255, .1);
}

.theme-dark .reactionSelected-1aMb2K {
    background-color: rgba(255, 255, 255, .15);
}

.theme-dark .textContentFooter-2JnNv8 {
    background: none;
}

.contentPreview-3fWiuC {
    border: 1px solid rgba(255, 255, 255, .2);
}

.theme-dark .tagPill-1kSbgP {
    background-color: rgba(255, 255, 255, .2);
}

.container-1PloNW:hover {
    background-color: rgba(255, 255, 255, .15);
}

.theme-dark .body-2rDNbs {
    color: white;
}

.theme-dark .contentWarningPopout-WKdbDG {
    background-color: rgba(0, 0, 0, .6);
    box-shadow: none;
}

.theme-dark .footer-2aeMle {
    background-color: transparent;
    color: white;
}

.defaultColor-1EVLSt {
    color: white;
}

.icon-2Zyj6B {
    background-color: #0e8672;
    color: white;
}

.theme-dark .container-KM8BU6, 
.theme-dark .reactors-1VXca7 {
    background-color: transparent;
}

.theme-dark .scroller-2GkvCq {
    background: none;
}

.theme-dark .modalSubtitle-2lx7qk {
    border-bottom: none;
    color: white;
}

.theme-dark .keyboardShortcutList-3VFAYS .keybindGroup-39HP2U .keybindDescription-oXh6w_ {
    color: white;
}

.theme-dark .keyboardShortcutsModal-2CRmCm {
    background-color: transparent;
}

.stageListenerPill-1_QAPA,
.audienceIconContainer-1xndyK {
    background-color: rgba(0, 0, 0, .2);
}


.audienceIcon-2HoEJ2 {
    color: white;
}

.textBadge-v9EW9y {
    border: 4px solid transparent;
}

.container-3i3IzO {
    background-color: rgba(0, 0, 0, .1);
}

.cta-1XhfrG {
    color: #3ea6ff;
}

.checkIcon-3eAeN_, 
.memberCount-2G9rxE {
    border: 1px solid rgba(255, 255, 255, .2);
    background-color: rgba(255, 255, 255, .2);
}

.optionButton-1W9f7G.selected-KQBgNS {
    border: 2px solid black;
    background-color: rgba(0, 0, 0, .2);
}

.container-1jQZ2U {
    box-shadow: none;
    background-color: #282828;
    border: 1px solid rgba(255, 255, 255, .1);
}

.hljs {
    background: rgba(255,255,255,.12);
}

.chatContent-3KubbW {
    background: none;
}

.formTitle-2YQyhj {
    color: #c0c0c0;
}

.theme-dark .container-YkUktl  {
    background-color: transparent;
}

.analyticsCard-2fnrVG {
    background-color: rgba(0, 0, 0, .3);
}

.friendRequestsButton-77veU7 {
    background-color: rgba(255, 255, 255, .15);
    color: white;
}

.friendRequestsButton-77veU7:hover {
    background-color: rgba(255, 255, 255, .25);

}

.container-_dQaft,
.container-1A0qQO {
    background-color: #212121;
}

.row-7jGzPR:hover {
    background-color: rgba(255, 255, 255, .15);
}

.iconWrapper-1CGrJp {
    background-color: black;
}

.accountBtnInner-1DCgBm {
    background-color: rgba(0, 0, 0, .3) !important;
}

.wrapper-wOVKdL,
.paymentNote-3dcb-Z {
  background-color: transparent;
}

.card-2guEcY:not(.outline-3kFzf8) {
    background-color: rgba(0, 0, 0, .2);
}

.audienceContainerCollapsed-2OXkcm,
.moreContainer-R0kRGB {
    background-color: rgba(0, 0, 0, .4);
    border: 4px solid transparent;
}

.emptyIcon-IW8ndV circle {
  fill: rgba(0, 0, 0, .4);
}

.emptyIcon-IW8ndV path {
  stroke: white;
  fill: white;
}

.defaultColor-1EVLSt a {
    color: lightgreen;
    font-weight: 600;
}

.tagsContainer-3rSFH5 .tagsButton-2EKn70 .tagsButtonInner-QgpYNg {
    color: gold;
}

.resizeHandle-PBRzPC {
    background: none;
}

.footer-IubaaS {
    background-color: transparent;
}

.bd-sidebar-header h2 {
    color: white;
}

.modalHeader-1hF3w-,
.modalBody-3-seO3 {
    background-color: transparent;
}

.modalFooter-Ywt9Jo {
    background-color: transparent!important;
}

.changelog-2zmJ4c,
.safetyChecklist-3kgSZf,
.simpleItemWrapper-1Zwc4I {
  background-color: rgba(0, 0, 0, .7);
  border: 2px solid rgba(255, 255, 255, .4);
}

.divider-3gqVNH {
  background-color: transparent;
}


.valuePill-3nbVvY {
  background-color: rgba(0, 0, 0, .5);
  border: 2px solid rgba(255, 255, 255, .4);
  color: white !important;
}

.itemBodyInner-3iVT92,
.rulesScreeningItems-24b_s9>div {
  border: none;
}

.bar-1GpknY {
  background-color: transparent;
}

.themed-1LCNAV .barInner-3dHef4 {
  background-color: rgba(255, 255, 255, .6);
}

.themed-1LCNAV .textLeft-1Noen0, 
.themed-1LCNAV .textRight-2IW704 {
  color: white;
}

.noIcon-3gSX9V {
    background-color: rgba(0, 0, 0, .2);
    color: white;
}
